<h3>Merci, votre commande est confirmée!</h3>
<h4>Votre numéro de commande est le : 011<%= @order.id %>, les photos viennent de vous être envoyé par email à <%= current_user.email %>

<%button_to "Voir ma commande", order_path(@order.id), class:"btn btn-primary" %>
</h4>