
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">

                    <div class="footer-logo", style="width: 60%;">
                        <a href="./index.html">
                            <%=image_tag("logo_transparent.png")%>
                        </a>

                    </div>
                    <ul>
                        <li>Adresse : Parvis Alain Turing 75013 Paris</li>
                        <li>Téléphone : +33 01 22 22 22</li>
                        <li>Email : hello@katshop.com</li>
                    </ul>
                    <div class="footer-social">
                        <i class="fab fa-facebook "></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin"></i>
                        <i class="fab fa-pinterest"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="footer-widget">
                    <h5>Information</h5>
                    <ul>
                        <li>About Us</li>
                        <li>Checkout</li>
                        <li>Contact</li>
                        <li>Serivius</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Inscrivez vous à notre newsletter</h5>
                    <p>Restez informé de nos dernières nouveautés</p>
                    <form  class="subscribe-form">
                        <input type="text" placeholder="Enter Your Mail">
                        <button type="button">S'inscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="payment-pic">
                        <img src="#" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
