<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> "Un nouvelle commande vient d'être passé!" </h1>
    <p>
    <%= @user.email %> vient de passer une nouvelle commande.
    </p>

  </body>
</html>