<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Confirmation de commande du site Katshop !</h1>
    <p>
      Vous avez passé une commande en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour trouver plus de détails sur votre commande, connectez-vous à votre profil via : <%= @url %>.
    </p>
    <p> Merci pour votre commande !
  </body>
</html>