<div class="all">
	<h1>Bienvenue sur notre super site de potins, <%= @name.capitalize %> !</h1>

<p>Pour retrouver la liste de tous les potins, <%= link_to "clique-ici", root_path %></p>

</div>

<!-- <div action='/'class="form-group" method="post">
	<label class="col-form-label" for="inputDefault">Ton prénom</label>
	<input type="text" class="form-control" placeholder="Ton prénom" id="inputDefault" name='first_name'>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
-->
<!-- <form action='/' method='POST' class="form-group">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
	<input type='text' name='first_name' placeholder="Ton prénom"/>
	<br><br>
	<button type="submit" class="btn btn-primary">Valider</button>
</form>
 -->