<div class="container bootstrap snippet m-5">
  <div class="row m-5">
    <div class="col-sm-10"><h2>Bonjour <%= @user.first_name %></h2></div>
  </div>
  <div class="row m-5">
    <div class="col-sm-4"><!--left col-->
      <div class="text-center m-3 p-2">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <!--/<h6 class='my-4'>Changer votre photo :</h6>
        <input type="file" class="text-center center-block file-upload">-->
      </div>
    </div><!--/col-3-->
    <div class="col-sm-8"><!--right col--><!--nav items-->
          <ul class="nav mb-5">
              <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#settings">Mes informations</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="/orders">Mes commandes</a></li>
            </ul>
        <div class="tab-content m-5"><!--first tab pane-->
          <div class="tab-pane active" id="settings">
            <%= render 'edit', user: @user %>
            <hr> 
           </div><!--/tab-pane-->
           <div class="tab-pane" id="orders"> 
             <h2>Coming soon</h2>
             <hr>
           </div><!--/tab-pane-->
           <div class="tab-pane" id="returns">
            <h2>Comming soon </h2>
            <hr>
            </div><!--/tab-pane-->
        </div><!--/tab-content-->

      </div><!--/col-9-->
  </div><!--/row-->
</div>






